
Pre/2 Long period observation (b&d).jpg
*.json
*.pdf
calculate_para.m
Final_Code.m
P_11_4.m
*.jpg
*.png
*.pptx
*.docx
*.zip
Pre111.m
SEIR.m
SEIR_ODE.m
SEIR_test.mlx
Source/prac8_LSM by 김솔.mlx
*.eps
*.docx
*.tex
*.hwp
*.docx
Source/Practicals solutions [students]/Codes/8 Model fitting (MLE and MCMC)/Practical 8 Model fitting (MLE & Bayesian).docx
try_canon.m
tutoring.m
tutoring2.m
uk.csv
